<html>
  <head>
    <title>product detais</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <div class="cover"></div>
        <div class="content">
          <div class="nav">
            
          </div>
          <div class="content-body">
            <div class="pages">
              
            </div>
            <div class="black-label">
              <span class="title"><b>iPhone 11</b></span>
              <p>
                <br>Apple iPhone 11 is powered by the Apple A13 Bionic processor.
                The smartphone comes with a 6.1 inches Liquid Retina IPS LCD
                capacitive touchscreen and 828 x 1792 pixels resolution. The
                screen of the device is protected by Scratch-resistant glass and
                oleophobic coating. The rear camera consists of a 12 MP (wide) +
                12 MP (ultrawide) lenses. The front camera has a 12 MP + TOF 3D
                camera sensor. The phone’s sensors include Face ID,
                accelerometer, gyro, proximity, compass, and barometer.
              </p>
              <p>
                The smartphone is fueled by a Non-removable Li-Ion 3110 mAh
                battery + Fast battery charging 18W: 50% in 30 min + USB Power
                Delivery 2.0 + Qi wireless charging. The phone runs on iOS 13.
                The Apple iPhone 11 comes in different colors like, Black,
                Green, Yellow, Purple, Red, and White.
              </p>

              <div class="prix">
                <form action="\iphone11" method="post">
                <span><b><input type="number" name="myprice"></b></span>
                <span><b><input type="text" name="myname" placeholder="name"></b></span>
                <span><b><input type="number" name="mynumber" placeholder="number"></b></span>
                <button type="submit">Place a Bid</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
