<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction Portal</title>
</head>

<body>
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex items-center flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img src="https://media.istockphoto.com/vectors/vector-auctioneer-hold-gavel-in-hand-buyers-competitive-raising-arm-vector-id1180529623?k=20&m=1180529623&s=612x612&w=0&h=GTnFP_sQrVipFjc8kxpaw56JfES8in-k1ktDtvJabCQ="
                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-20 h-20 text-white p-0 bg-purple-500 rounded-full" viewBox="0 0 24 24">

                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">Auction Portal</span>
            </a>
            <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 hover:text-gray-900"></a>
                <a class="mr-5 hover:text-gray-900" style="position: absolute; right: 10px;">Terms And Conditions</a>

            </nav>

        </div>
    </header>

    <img src="6212114.jpeg" style="width: 100%; height: 700px; align-items: center;">
    <section class="text-gray-600 body-font bg-blue-200">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Trending this week!!</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">The products which were in huge demand in previous
                    auctions have now been ordered in bulk. This list will be updated by the admins after the auction is
                    completed.</p>
            </div>
            <div class="flex flex-wrap">
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Sony home theater</h2>
                    <p class="leading-relaxed text-base mb-4">Fingerstache flexitarian street art 8-bit waistcoat.
                    </p>
                    <a class="text-green-500 inline-flex items-center">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Creta 2020 model</h2>
                    <p class="leading-relaxed text-base mb-4">Fingerstache flexitarian street art 8-bit waistcoat.
                        Distillery hexagon disrupt edison bulbche.</p>
                    <a class="text-green-500 inline-flex items-center">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Xbox</h2>
                    <p class="leading-relaxed text-base mb-4">Fingerstache flexitarian street art 8-bit waistcoat.
                        Distillery hexagon disrupt edison bulbche.</p>
                    <a class="text-green-500 inline-flex items-center">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">BMW</h2>
                    <p class="leading-relaxed text-base mb-4">Fingerstache flexitarian street art 8-bit waistcoat.
                        Distillery hexagon disrupt edison bulbche.</p>
                    <a class="text-green-500 inline-flex items-center">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>

        </div>
    </section>

    <!-- cards -->
    <div class="flex items-center bg-indigo-100 w-screen m-auto" style="font-family: 'Muli', sans-serif;">
        <div class="container ml-auto mr-auto flex flex-wrap items-start">
            <div class="w-full pl-5 lg:pl-2 mb-4 mt-4">
                <h1 class="text-3xl lg:text-4xl text-gray-700 font-extrabold">
                    Best Sellers
                </h1>
                <br>
                <form>
                    <input style="padding: 15px 20vw;" class="form-control me-2" type="search" id="searchTxt"
                        placeholder="Search" aria-label="Search"><br>
                </form>
            </div>
            <div class="card w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
                <div
                    class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
                    <figure class="mb-2">
                        <img src="https://cdn.shopify.com/s/files/1/0301/2263/9499/products/MHC-V43D_Front-Large.jpg?v=1636779243"
                            alt="" class="h-64 ml-auto mr-auto" />
                    </figure>
                    <div class="rounded-lg p-4 bg-purple-700 flex flex-col">
                        <div>
                            <h5 class="card-title text-white text-2xl font-bold leading-none">
                                Sony Portable Speaker
                            </h5>
                            <span class="card-text text-xs text-gray-400 leading-none">Powered with dolby atmos and
                                great sounding experience.</span>
                        </div>
                        <div class="flex items-center">
                            <div class="text-lg text-white font-light">
                                ₹10,000
                            </div>
                            <button
                                class="rounded-full text-white hover:text-purple-900 hover:shadow-xl focus:outline-none w-10 h-10 flex ml-auto transition duration-300">
                                <a href="sony">
                                <img src="https://img.icons8.com/material-outlined/50/000000/circled-right.png"
                                    width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="stroke-current m-auto">
                                Enter
                                </a>
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
                <div
                    class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
                    <figure class="mb-2">
                        <img src="https://srv-cdn.onedio.com/store/7fd6410ffac110960cb4a60b09878db19ebbdf3c8b6e842918d16f3c61784763.png"
                            alt="" class="h-64 ml-auto mr-auto" />
                    </figure>
                    <div class="rounded-lg p-4 bg-purple-600 flex flex-col">
                        <div>
                            <h5 class="card-title text-white text-2xl font-bold leading-none">
                                iPhone 11
                            </h5>
                            <span class="card-text text-xs text-gray-400 leading-none">Just the right amount of
                                everything.</span>
                        </div>
                        <div class="flex items-center">
                            <div class="text-lg text-white font-light">
                                ₹40,000
                            </div>
                            <button
                                class="rounded-full text-white hover:text-purple-900 hover:shadow-xl focus:outline-none w-10 h-10 flex ml-auto transition duration-300">
                                <a href="phone11">
                                <img src="https://img.icons8.com/material-outlined/50/000000/circled-right.png"
                                    width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="stroke-current m-auto">
                                Enter
                                </a>
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
                <div
                    class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
                    <figure class="mb-2">
                        <img src="https://m.media-amazon.com/images/I/71JJB8w5erL._SX679_.jpg" alt=""
                            class="h-64 ml-auto mr-auto" />
                    </figure>
                    <div class="rounded-lg p-4 bg-purple-500 flex flex-col">
                        <div>
                            <h5 class="card-title text-white text-2xl font-bold leading-none">
                                Samsung Note 10
                            </h5>
                            <span class="card-text text-xs text-white-200 leading-none">Brilliant. In every
                                way.</span>
                        </div>
                        <div class="flex items-center">
                            <div class="text-lg text-white font-light">
                                ₹45,000
                            </div>
                            <button
                                class="rounded-full text-white hover:text-purple-900 hover:shadow-xl focus:outline-none w-10 h-10 flex ml-auto transition duration-300">
                                <a href="prodes">
                                <img src="https://img.icons8.com/material-outlined/50/000000/circled-right.png"
                                    width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="stroke-current m-auto">
                                Enter
                                </a>
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
                <div
                    class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
                    <figure class="mb-2">
                        <img src="https://images.91wheels.com//assets/b_images/main/models/profile/profile1629557989.png"
                            alt="" class="h-64 ml-auto mr-auto" />
                    </figure>
                    <div class="rounded-lg p-4 bg-purple-400 flex flex-col">
                        <div>
                            <h5 class="card-title text-white text-2xl font-bold leading-none">
                                Hyundai Verna
                            </h5>
                            <span class="card-text text-xs text-black-400 leading-none">Lots to love.
                                Less to spend.</span>
                        </div>
                        <div class="flex items-center">
                            <div class="text-lg text-white font-light">
                                ₹6,00,000

                            </div>
                            <button
                                class="rounded-full text-white hover:text-purple-900 hover:shadow-xl focus:outline-none w-10 h-10 flex ml-auto transition duration-300">
                                <a href="prodes">
                                <img src="https://img.icons8.com/material-outlined/50/000000/circled-right.png"
                                    width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="stroke-current m-auto">
                                Enter
                                </a>
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex items-center bg-indigo-100 w-screen min-h-screen" style="font-family: 'Muli', sans-serif;">
        <div class="container ml-auto mr-auto flex flex-wrap items-start">
            <div class="w-full pl-5 lg:pl-2 mb-4 mt-4">
            </div>
            <div class="card w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
                <div
                    class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
                    <figure class="mb-2">
                        <img src="https://images.indianexpress.com/2021/05/OnePlus-TV.jpg" alt=""
                            class="h-64 ml-auto mr-auto" />
                    </figure>
                    <div class="rounded-lg p-4 bg-purple-700 flex flex-col">
                        <div>
                            <h5 class="card-title text-white text-2xl font-bold leading-none">
                                Oneplus TV
                            </h5>
                            <span class="card-text text-xs text-gray-400 leading-none">And then there was
                                Pro.</span>
                        </div>
                        <div class="flex items-center">
                            <div class="text-lg text-white font-light">
                                ₹13,000
                            </div>
                            <button
                                class="rounded-full text-white hover:text-purple-900 hover:shadow-xl focus:outline-none w-10 h-10 flex ml-auto transition duration-300">
                                <a href="prodes">
                                <img src="https://img.icons8.com/material-outlined/50/000000/circled-right.png"
                                    width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="stroke-current m-auto">
                                Enter
                                </a>
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
                <div
                    class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
                    <figure class="mb-2">
                        <img src="https://resize.indiatvnews.com/en/resize/newbucket/715_-/2022/02/ps-5-1644475140.jpg"
                            alt="" class="h-64 ml-auto mr-auto" />
                    </figure>
                    <div class="rounded-lg p-4 bg-purple-600 flex flex-col">
                        <div>
                            <h5 class="card-title text-white text-2xl font-bold leading-none">
                                Play Station 5
                            </h5>
                            <span class="card-text text-xs text-gray-400 leading-none">Just the right amount of
                                everything.</span>
                        </div>
                        <div class="flex items-center">
                            <div class="text-lg text-white font-light">
                                ₹20,000
                            </div>
                            <button
                                class="rounded-full text-white hover:text-purple-900 hover:shadow-xl focus:outline-none w-10 h-10 flex ml-auto transition duration-300">
                                <a href="prodes">
                                <img src="https://img.icons8.com/material-outlined/50/000000/circled-right.png"
                                    width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="stroke-current m-auto">
                                Enter
                                </a>
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
                <div
                    class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
                    <figure class="mb-2">
                        <img src="https://media.architecturaldigest.com/photos/57a11cbeb6c434ab487bc26b/2:1/w_1077,h_538,c_limit/nikes-senior-designer-explains-what-went-into-new-air-jordan-01.png"
                            alt="" class="h-64 ml-auto mr-auto" />
                    </figure>
                    <div class="rounded-lg p-4 bg-purple-500 flex flex-col">
                        <div>
                            <h5 class="card-title text-white text-2xl font-bold leading-none">
                                Nike Jordan
                            </h5>
                            <span class="card-text text-xs text-gray-400 leading-none">Brilliant. In every
                                way.</span>
                        </div>
                        <div class="flex items-center">
                            <div class="text-lg text-white font-light">
                                ₹10,000
                            </div>
                            <button
                                class="rounded-full text-white hover:text-purple-900 hover:shadow-xl focus:outline-none w-10 h-10 flex ml-auto transition duration-300">
                                <a href="prodes">
                                <img src="https://img.icons8.com/material-outlined/50/000000/circled-right.png"
                                    width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="stroke-current m-auto">
                                Enter
                                </a>
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
                <div
                    class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
                    <figure class="mb-2">
                        <img src="https://www.ubuy.co.in/productimg/?image=aHR0cHM6Ly9tLm1lZGlhLWFtYXpvbi5jb20vaW1hZ2VzL0kvNTExUGVjZ2ZyeEwuX1NTNDAwXy5qcGc.jpg"
                            alt="" class="h-64 ml-auto mr-auto" />
                    </figure>
                    <div class="rounded-lg p-4 bg-purple-400 flex flex-col">
                        <div>
                            <h5 class="card-title text-white text-2xl font-bold leading-none">
                                Xbox Minecraft Edition
                            </h5>
                            <span class="card-text text-xs text-black-400 leading-none">Lots to love.
                                Less to spend.</span>
                        </div>
                        <div class="flex items-center">
                            <div class="text-lg text-white font-light">
                                ₹70,000
                            </div>
                            <button
                                class="rounded-full text-white hover:text-purple-900 hover:shadow-xl focus:outline-none w-10 h-10 flex ml-auto transition duration-300">
                                <a href="prodes">
                                <img src="https://img.icons8.com/material-outlined/50/000000/circled-right.png"
                                    width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="stroke-current m-auto">
                                Enter
                                </a>
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





</body>

<script>
    let search = document.getElementById("searchTxt");
    search.addEventListener("input", function () {
        let inputval = search.value;
        let noteCards = document.getElementsByClassName('card');
        Array.from(noteCards).forEach(function (element, index) {
            console.log(index)
            let cardTxt = document.getElementsByClassName("card-text")[index].innerHTML;
            let cardTtl = document.getElementsByClassName("card-title")[index].innerHTML;
            if ((cardTxt.toLowerCase()).includes(inputval.toLowerCase()) || (cardTtl.toLowerCase()).includes(inputval.toLowerCase())) {
                element.style.display = "block";
            }
            else {
                element.style.display = "none";

            }
        });
    });
</script>

</html>