<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TnC</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="terms.css" rel="stylesheet">

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@800&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,500;0,800;1,400&display=swap"
    rel="stylesheet">

</head>

<body>
  <nav>
    <div class="nav-bg"></div>
    <ul>
      <li><a href="">Home</a></li>
    </ul>
  </nav>
  <div class="hero">
    <h1>Terms and Conditions</h1>
  </div>

  <div class="points">
    <ol>
      <li><strong>Your account-</strong></li>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti ex nihil inventore tempore facere molestias
        obcaecati officiis eligendi, enim voluptas quaerat, libero veritatis similique at reprehenderit modi fugit alias
        aspernatur.
        <br>

        <li><strong>Payments-</strong></li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aspernatur minus, obcaecati incidunt eveniet
        quis veritatis, illum explicabo odio delectus ipsam rem nostrum error culpa neque sint nihil, distinctio quo!
      </p>
      <br>
      <li><strong>Copyright Infringement-</strong></li>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate rem fugit sunt sequi expedita maxime.
        Nostrum obcaecati, quisquam mollitia nihil debitis officiis animi, dolor magni provident quas fugit quos sint.
      </p>
      <ul>
        <li> an electronic or physical signature of the person authorized to act on behalf of the owner of the
          copyrighted work;</li>
        <li> an identification of the copyrighted work and the location on the Website of the allegedly infringing work;
        </li>
        <li> a written statement that you have a good faith belief that the disputed use is not authorized by the owner,
          its agent or the law;</li>
        <li> your name and contact information, including telephone number and email address;</li>
        <li> a statement by you that the above information in your notice is accurate and, under penalty of perjury,
          that you are the copyright owner or authorized to act on the copyright owner’s behalf.</li>

      </ul>
      <br>
      <li><strong>A special note about children-</strong></li>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, quod! Accusantium libero excepturi minima. Ab et
        autem quas, nihil ullam, quia explicabo quaerat quasi, beatae quos officia. Facere, culpa dolorem!</p>
    </ol>
  </div>
  <script src="java.js"></script>
</body>


</html>